server:
  port: 8082

spring:
  application:
    name: SERVICE-VOITURE

# Configuration Eureka (commentée pour utiliser Consul)
# eureka:
#   client:
#     service-url:
#       defaultZone: http://localhost:8761/eureka

# Configuration Consul (décommenter pour utiliser Consul)
spring:
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        service-name: SERVICE-VOITURE
        health-check-interval: 10s
        instance-id: ${spring.application.name}:${server.port}
        prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
